.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columna1{
    flex: 1;
    padding: 10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}

.columna2{
    flex: 1;
    padding: 10px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.columna3{
    flex: 1;
    padding: 10px;
    align-items: center;
    
   
}

.dec{
    border-left: 2px solid black;
    border-right: 2px solid black;
    align-items: center;
}


/*imagenes*/
.img1{
    border-radius: 50%;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
   
    
}

.imgs{
    margin-top: 20%;
}

.imgss{
    margin-top:-2%;
    width: 8%;
    position:absolute;

   
}
    


/*texto*/
.titulo{
    text-align: center;
}


h1{
    font-family: 'Lucida Sans';
}

h2{
    text-align: center;
    font-family: 'Lucida Sans';
    color: rgb(154, 0, 0);
    border-bottom: 4px rgb(221, 193, 133) solid;
    text-align: center;
}

h3{
    text-align: center;
    font-family: 'Lucida Sans';
}

p{
    font-family: 'Lucida Sans';
    margin: 20px;
}

.l1{
    border-bottom: 2px darkgray dashed;
}